a, a:hover {
	color: inherit;
	cursor: pointer;
}

input {
	font-size: 18px !important;
	color: #1a1a1a !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffffff !important;
}

input:focus, textarea:focus {
	border-color: #33ffd6 !important;
	border-width: 3px !important;
	border-style: solid !important;
	box-shadow: 2px 2px 6px #b3fff0 !important;
}

input::placeholder, textarea::placeholder {
	color: #4d4d4d !important;
}

textarea::placeholder {
	font-family: Sora, Arial, Verdana;
}

button:focus:not(:focus-visible) {
 outline: none !important;
}
