body {
    font-family: Arial, Verdana, Tahoma, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

a, a:hover {
	text-decoration: none;
	color: #000000;
}

button {
	background-color: transparent;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

/*--------------------------- LEFT MENU ---------------------------*/

.left-menu {
	height: 100vh;
	overflow-y: auto;
}

@media(min-width: 1601px) {
	.main-container {
		margin-left: 10%; 
		margin-right: 10%;
	}
    .left-menu {
		padding-right: 85%;
		width: 110%;
	}
	.right-container {
		padding-right: 9%;
	}
}

@media(max-width: 1600px) {
	.main-container {
		margin-left: 0%; 
		margin-right: 0%;
	}
    .left-menu {
		padding-right: 80%;
	}
	.right-container {
		padding-right: 4%;
	}
}

@media(max-width: 768px) {
    .left-menu-text {
        font-size: 24px;
    }
	.left-profile-text {
		font-size: 18px;
	}
    .left-menu {
        position: relative;
		padding-left: 0px;
		padding-right: 0px;
		height: auto;
		overflow-y: hidden;
		overflow: hidden;
		display: none;
    }
	.right-container {
		display: none;
	}
}

@media(min-width: 769px) {
    .left-menu-text {
        font-size: 0px;
    }
	.left-profile-text {
		font-size: 12px;
	}
    .left-menu {
		position: fixed;
		padding-left: 6%;
		width: 102vw;
	}
}

@media(min-width: 1200px) {
    .left-menu-text {
		font-size: 24px;
	}
	.left-profile-text {
		font-size: 18px;
	}
}

.left-menu > button {
	margin-right: 100%;
	margin-top: 8px;
	font-size: 24px;
	border-radius: 30px;
	padding-right: 20px;
}

.left-btn:hover {
	background-color: #dddddd;
	transition-duration: 0.5s;
}

.left-menu > button > .glyphicon {
	margin-right: 15px;
}

.left-post-btn {
	background-color: #00ffcc;
	width: 100%;
	text-align: center;
}

.left-profile-text {
	padding-top: 10px;
}

#my-post-profile:hover {
	border-radius: 20px;
	background-color: #dddddd;
	transition-duration: 0.5s;
}

/*--------------------------- POSTS VIEW ---------------------------*/

.center-scroller {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding-left: 5px;
}

.center-buttons {
	margin: auto;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #eeeeee;
	display: flex;
}

.center-buttons > button {
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	text-align: center;
	width: 100%;
	display: inline;
	margin: 0px;
	border-width: 0px;
	background-color: #ffffff;
}

.center-buttons > button:hover {
	background-color: #f6f6f6;
	transition-duration: 0.5s;
}

.make-post {
	border-width: 1px;
	border-style: solid;
	border-bottom-style: none;
	border-color: #eeeeee;
	font-size: 24px;
	padding: 15px;
	display: flex;
}

.make-post > img {
	height: 42px;
	width: 42px;
	border-radius: 50%;
	border-style: solid;
	border-color: #eeeeee;
	border-width: 1px;
}

.make-post > form {
	width: 100%;
	padding-right: 20px;
}

.post-options {
	display: flex;
}

.post-option-true {
	color: #00e6b8;
	background-color: #e6fffa;
}

#post-file-input {
	margin-top: 10px;
	float: right;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}

.make-post > form > textarea {
	resize: none;
	height: 80px;
	margin-left: 10px;
	border-style: none;
	width: 100%;
	font-size: 24px;
}

.make-post-btn {
	margin-top: 10px;
	margin-left: auto;
	float: right;
	background-color: #00ffcc;
	color: #000000;
	font-size: 18px;
	border-radius: 30px;
	font-weight: bold;
}

.reload-posts {
	display: none;
}

#post-feed {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
	font-size: 14px;
}

#post-view {
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
	font-size: 14px;
}

.post, .post-focus {
	padding: 10px;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #eeeeee;
	background-color: #ffffff;
}

.post:hover {
	background-color: #f6f6f6;
	transition-duration: 0.5s;
}

.post-body > img {
	width: 100%; 
	border-radius: 5%;
}

.post-body > p {
	margin-left: 27px;
	font-size: 16px;
}

.post-profile {
	display: flex;
	padding: 5px;
	padding-bottom: 0px;
}

.post-profile > img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-right: 10px;
	border-style: solid;
	border-color: #eeeeee;
	border-width: 1px;
	object-fit: cover;
}

.post-profile > b {
	font-size: 18px;
}

.post-profile > p {
	margin-top: 3px;
	margin-left: 10px;
	color: #595959;
}

.post-body {
	padding-left: 30px; 
	padding-right: 30px;
	padding-bottom: 4px;
}

.post-actions {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.post-actions > button {
	margin-right: 2vw;
}

.post-actions > button {
    font-size: 16px;
}

.post-action-text {
	margin-left: 10px;
}

/*--------------------------- RIGHT MENU ---------------------------*/

.right-menu {
	width: 100%;
	padding: 5px;
}

.search-bar > form {
	border-radius: 30px;
}

.right-notice, .right-highlights, .right-follows {
	padding: 15px;
	padding-top: 4px;
	margin-top: 15px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
	border-radius: 15px;
}

.right-notice > button {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	border-radius: 30px;
	font-weight: bold;
}

.right-highlights {
	height: 440px;
}

.right-follows {
	height: 250px;
}

.right-profile > p {
	color: #595959;
}

.right-follows > .post-profile > button {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	border-radius: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	height: 34px;
	font-weight: bold;
	margin-left: auto;
}

.post-view-title {
	height: 40px;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

/*--------------------------- PROFILES VIEW ---------------------------*/

#profile {
	font-size: 18px;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: #eeeeee;
}

#profile-header {
	padding: 5px;
}

.profile-title {
	color: #000000;
	font-family: Sora, Arial, Verdana;
	font-size: 24px;
}

.profile-title2 {
	color: #000000;
	font-family: Sora, Arial, Verdana;
	font-size: 26px;
}

#profile-avatar {
	position: absolute;
	z-index: 2;
	margin-top: 120px;
	margin-left: 20px;
	border-radius: 50%;
	border-color: #ffffff;
	border-width: 4px;
	border-style: solid;
	width: 140px;
	height: 140px;
}

#profile-background {
	height: 210px;
	background-color: #00ffcc;
	margin-bottom: 10px;
}

#profile-options {
	float: right;
	margin-right: 20px;
}

.follow-button {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	border-radius: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	height: 34px;
	font-weight: bold;
	margin-left: auto;
}

.follow-button:hover {
	color: #ffffff;
}

.follow-button:active {
	color: #ffffff;
}

#profile-body {
	padding: 16px;
	color: #595959;
	font-size: 16px;
}

#following-followers {
	font-size: 14px;
}

#following-followers > span > b {
	color: #000000;
}

#profile-threads {
	display: flex;
	flex-direction: row;
	height: 50px;
}

.profile-thread {
	height: 100%;
	flex: 33.3%;
	text-align: center;
	font-size: 16px;
	color: #262626;
	border-width: 0px;
}

.profile-thread:hover {
	background-color: #eeeeee;
	transition-duration: 0.5s;
}

.profile-thread-selected {
	border-width: 0px;
	border-bottom-width: 4px;
	border-style: solid;
	border-color: #00ffcc;
}